#pajetWrap {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100000;
    width: 500px;
    background-color: #FFF;
    font: 11px/1.2 "Lucida Grande","Lucida Sans Unicode","Malgun Gothic", "Dotum", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
    text-align: left;
    border: 2px solid #6A5B4B;
}
#pajetWrap * {
    color: #666;
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    line-height: 1.6;
    float: none;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    text-align: left;
    text-indent: 0;
}
#pajetWrap h1,
#pajetWrap h2,
#pajetWrap h3,
#pajetWrap h4,
#pajetWrap h5,
#pajetWrap h6 {
    display: block
}
#pajetWrap ul {
    list-style: none
}
#pajetWrap input[type=text] {
	border: 2px inset #ccc;
}
#pajetHeader {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    background-color: #A48E74;
}
#pajetHeader h1 {
    float: left;
    padding: 7px 0 6px 10px;
    margin: 0;
    color: #FED551;
    font-weight: bold;
    font-size: 12px;
}
#pajetContents {
    clear: both;
    height: 500px;
    overflow: auto;
    padding: 10px 10px 0;
}
#pajetContents a {
    color: blue;
    text-decoration: underline;
}
#pajetContents h2 {
    margin: 10px 0;
    padding: 5px 3px 3px 7px;
    border-top: 1px solid #b69a59;
    border-left: 1px solid #b69a59;
    color: #6A5B4B;
    font-weight: bold;
    font-size: 1.2em;
}
#pajetContents h3 {
    margin: 10px 3px;
    padding: 0 3px 5px;
    color: #6A5B4B;
    border-bottom: 1px solid #b69a59;
    font-weight: normal;
    font-size: 1.2em;
}
#pajetContents ul li {
    margin: 0 0 5px;
    font-size: 12px;
}
#pajetFooter {
    padding: 0.5em 0;
    background-color: #A48E74;
    position: relative;
}
#pajetFooter p {
    margin: 0
}
#pajetFooter a {
    color: #48401b
}
#pajetFooter .btnTop {
    position: absolute;
    top: 3px;
    right: 5px;
}
#pajetFooter .btnTop a {
    display: block;
    padding: 4px 7px 0;
    background-color: #FFF;
    border: 1px solid #ccc;
    color: #000;
}
#pajetWrap li,
#pajetWrap p {
    padding: 0 7px
}
#pajetWrap .section li {
    border-bottom: 1px dotted #AFAFAF
}
#pajetWrap .section fieldset {
    padding: 4px 0;
    background-color: #ee0;
}
#pajetWrap .section .checked {
    opacity: 0.3;
    filter: alpha(opacity = 30);
    background-color: transparent;
    zoom: 1;
}
#pajetWrap .section fieldset label {
    padding: 0 10px
}
#pajetWrap #header {
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid #AFAFAF;
    background-color: #666666;
}
#pajetWrap .imageItem {
    cursor: pointer
}
#pajetWrap ul.tblist li {
    padding: 0.2em 0
}
#pajetWrap ul.linkList li {
    padding: 0.3em 0
}
#pajetWrap #imageList img {
    max-width: 99%;
    max-height: 3em;
    vertical-align: middle;
    font-size: inherit;
}
#deuteWasImg {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
    text-align: center;
    color: #333;
}
#deuteWasImg img {
    dispaly: block;
    margin-bottom: 7px;
    max-width: 600px;
    max-height: 400px;
}
#pajetWrap .frameTable {
    border-collapse: collapse
}
#pajetWrap .frameTable th,
#pajetWrap .frameTable td {
    padding: 5px 7px;
    color: #333;
    border: 1px solid #AFAFAF;
}
#pajetWrap .frameTable th {
    font-weight: bold
}
#pajetWrap .sum {
    margin: 10px 0;
    border: 1px solid #9F7F00;
    padding: 4px 0;
    background-color: #E5D2C0;
}
#pajetWrap .closeWacs {
    float: right;
    padding: 5px 5px 0 0;
}
#pajetWrap button {
    padding: 0 10px;
    border: 1px solid #CEAE8E;
    background-color: #E5D2C0;
    font-weight: bold;
    color: #000;
    display: inline-block;
}
#pajetWrap .submit {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #CEAE8E;
    background-color: #E5D2C0;
    font-weight: bold;
    color: #000;
}
#pajetWrap .pass {
    color: green
}
#pajetWrap .warning {
    color: #ff9000
}
#pajetWrap .fail {
    color: #f00
}
#pajetContents .section {
    padding-top: 5px
}
#checkList {
    margin-bottom: 20px;
    padding: 10px 5px 5px;
    border: 1px solid #b69a59;
}
#checkList li {
    margin-bottom: 3px;
    line-height: 1.5;
}
#checkList li a {
    color: #000;
    font-size: 12px !important;
    text-decoration: none;
}
#checkList li a:hover {
    color: #fdaf17;
    text-decoration: underline;
}
